<div class="container" style="margin-top:200px; margin-bottom:100px">
    <cneter>
        <table style="width:100%">
          <tr>
            <th style="width:250px">주문시간</th>
            <th style="width:100px">배달요일</th>
            <th style="width:100px">이름</th> 
            <th style="width:100px; text-align:right; padding-right: 20px">가격</th>
            <th style="width:150px">전화번호</th>
            <th style="width:100px">갯수</th>
            <th style="width:100px">주</th>
            <th style="width:100px">배달장소</th>
            <th style="width:200px">요구사항</th>
          </tr>
          <% @orderlist.each do |o| %>
            <tr>
                <td><%= o.created_at%></td>
                <td><%= o.day %></td>
                <td><%= o.name %></td>
                <td style="text-align:right; padding-right: 20px"><%= o.allprice %>원</td>
                <td><%= o.tel %></td>
                <td><%= o.eggnumber %></td>
                <td><%= o.weeks %></td>
                <td><%= o.place %></td>
                <td><%= o.message %></td>
            </tr>
          <%end%>
        </table>
    </cneter>
</div>
<hr>
